.header {
  display: flex;
  align-items: center;
  box-shadow: 0 8px 8px -4px #add8e6;
}
.logo {
  float: left;
  margin: 20px 0 1% 10%;
  width: 100px;
  padding: 10px 30px 10px 30px;
}
.logo:hover {
  cursor: pointer;
}
.nav-bar {
  margin: 0 auto;
  width: 25%;
}
.nav-bar ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  font: bold;
}
.nav-bar ul li {
  font-size: 18px;
  text-transform: uppercase;
}
.nav-bar ul li:hover {
  cursor: pointer;
  border-bottom: 5px solid rgb(17, 17, 182);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.contact-btn {
  float: right;
  font-size: 18px;
  font: bold;
  border: 1px solid rgb(175, 171, 247);
  padding: 10px 30px 10px 30px;
  text-align: center;
  margin-right: 10%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.contact-btn:hover {
  cursor: pointer;
  background-color: rgb(17, 17, 182);
  color: #ffffff;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}

/*================================================
                 Responsiveness
================================================= */
